.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingDetails {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.headingQuiz {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 1.5rem;
}
.treadingQuiz {
  display: flex;
  width: 80%;
  height: 20rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;

  overflow: scroll;
}

.treadingQuiz::-webkit-scrollbar {
  display: none;
}
